:root {
  --title-font: "Cormorant Garamond", serif;
  --secondary-font: "Alegreya", serif;
  --neutral-font: "Montserrat", sans-serif;
  --theme-color: #957dad;
  --neutral-color: rgba(43, 28, 58, 0.7);
}

.navbar-logo {
    width: 74px;
}

.bg-nb {
    background:rgb(222, 236, 255, 0.65);
}

h1 {
  font-family: var(--title-font);
  font-size: 130px;
  font-weight: bold;
  margin-bottom: 0px;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 60px;
  text-align: center;
  color: var(--theme-color);
}

h4 {
  font-family: var(--neutral-font);
  font-weight: bold;
  color: var(--neutral-color);
}

p {
  font-family: var(--neutral-font);
  color: var(--neutral-color);
}

hr {
  border: none;
  border-top: dotted rgb(149, 125, 173, 0.75) 8px;
  background: none;
  width: 10%;
  margin: 70px auto;
}

footer {
  height: 115px;
  margin: 0 auto;
  margin-top: 100px;
  background: rgb(222, 236, 255, 0.5);
}

footer i {
  color: var(--theme-color);
  font-size: 1.5rem;
  background: white;
  padding: 10px;
  border-radius: 100%;
  margin: 10px 15px;
}

footer i:hover {
    color: white;
    background: var(--theme-color);
}

footer p {
    font-size: 10px;
    margin: 10px auto;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/hero-image2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  margin: 0 auto;
}

.hero-text {
  text-align: center;
  padding-top: 250px;
  margin: 0 auto;
  color: white;
  background-attachment: fixed;
}

.hero-text h2 {
  margin-bottom: 150px;
  font-size: 28px;
  color: white;
}

.primary-button {
  text-decoration: none;
  color: #ffffff;
  background: var(--theme-color);
  border-radius: 5px;
  padding: 15px 25px;
  font-family: var(--neutral-font);
}

.primary-button:hover {
  color: white;
  background: rgb(149, 125, 173, 0.25);
  border: solid 1px var(--theme-color);
}

.secondary-button {
  text-decoration: none;
  color: var(--theme-color);
  background: rgb(149, 125, 173, 0.1);
  border: solid 1px var(--theme-color);
  border-radius: 5px;
  padding: 15px 25px;
  font-family: var(--neutral-font);
}

.secondary-button:hover {
  color: #ffffff;
  background: var(--theme-color);
}

.homepage-about {
  margin-top: 50px;
}

.homepage-about .profile-pic {
  max-width: 300px;
  border-radius: 500px;
}

.card p {
  text-align: center;
}

.content-headers {
  text-align: center;
  height: 300px;
  margin: 0 auto;
  color: var(--theme-color);
  /* background:  rgb(222, 236, 255, 0.5);;
  background-attachment: fixed; */
}

.content-headers h1{
padding-top: 100px;
}

.bio {
    margin: 0 auto;
}


.bio .profile-pic {
    max-height: 500px;
    border-radius: 10px;
}


.skills-icons {
    height: 50px;
    filter: drop-shadow(5px 5px 10px rgb(0, 0, 0, 0.4));
}

.skills-icons:hover {
    height:80px;
}


@media (max-width: 576px) {
    
    .navbar-logo {
    width: 54px;
}
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/images/hero-image2.jpg);
    height: 290px;
    background-size: 100%;
    background-position: top;
  }

  .hero-text {
    padding-top: 55px;
  }

  .hero-text h1 {
    font-size: 62px;
    line-height: 0.9;
    margin-bottom: 10px;
  }

  .hero-text h2 {
    margin-bottom: 45px;
    font-size: 18px;
  }

  .primary-button {
    font-size: 12px;
  }

  .homepage-about {
    text-align: center !important;
  }

  .homepage-about .profile-pic {
    max-width: 200px;
  }

  .homepage-projects h2,
  .homepage-about h2 {
    font-size: 50px;
  }

  footer i {
  font-size: 1rem;
  padding: 8px;
  margin: 8px 10px;
}
}
